<app-saturno [usaAnimazioniIngresso]="false" [usaAnimazioniScroll]="false">
</app-saturno>

<section class="registrazione-contenuto">
<form class="form-registrazione">

    <h2 class="titolo-animato">Dati <span>anagrafici</span></h2>

    <!-- RIGA 1: Nome + Cognome -->
    <div class="riga-doppia campo-animato">

      <div class="campo-wrapper">
        <p class="label-sopra">Nome</p>
        <div class="campo-form">
          <input type="text" placeholder=" " id="nome" />
          <label for="nome">Nome</label>
        </div>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra">Cognome</p>
        <div class="campo-form">
          <input type="text" placeholder=" " id="cognome" />
          <label for="cognome">Cognome</label>
        </div>
      </div>

    </div>

    <!-- RIGA 2: Data di nascita + Sesso -->
    <div class="riga-doppia campo-animato">

      <div class="campo-wrapper">
        <p class="label-sopra">Data di nascita</p>
        <div class="campo-form">
          <input type="date" id="data_nascita" />
        </div>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra">Sesso</p>
        <div class="campo-form">
          <select id="sesso">
            <option value="" disabled selected></option>
            <option value="M">Maschio</option>
            <option value="F">Femmina</option>
          </select>
        </div>
      </div>

    </div>

    <!-- RIGA 3: Paese + Comune di nascita -->
    <div class="riga-doppia campo-animato">

      <div class="campo-wrapper">
        <p class="label-sopra">Paese di nascita</p>
        <div class="campo-form">
          <select id="paese_nascita">
            <option value="" disabled selected></option>
            <option value="IT">Italia</option>
          </select>
        </div>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra">Comune di nascita</p>
        <div class="campo-form">
          <select id="comune_nascita">
            <option value="" disabled selected></option>
            <!-- i comuni verranno caricati dinamicamente -->
          </select>
        </div>
      </div>

    </div>

    <!-- RIGA 5: Codice Fiscale -->
    <div class="campo-wrapper campo-centrato campo-animato">
      <p class="label-sopra">Codice Fiscale</p>
      <div class="campo-form">
        <input type="text" placeholder=" " id="codice_fiscale" maxlength="16" />
        <label for="codice_fiscale">Codice Fiscale</label>
      </div>
    </div>

    <button class="avanti_btn campo-animato" type="submit">Avanti</button>

  </form>
</section>

<app-footer></app-footer>
