<app-saturno [usaAnimazioniIngresso]="false" [usaAnimazioniScroll]="false">
</app-saturno>
<span class="sfocatura"></span>
<section class="registrazione-contenuto">
<form class="form-registrazione" *ngIf="stepAttuale === 1" [formGroup]="reactiveForm" (ngSubmit)="avanti()" (keydown.enter)="onEnterForm($any($event))" (keydown.tab)="onTabForm($any($event))">

    <h2 class="titolo-animato">Dati <span>anagrafici</span></h2>

    <!-- RIGA 1: Nome + Cognome -->
    <div class="riga-doppia campo-animato">
      <div class="campo-wrapper">
       <p class="label-sopra" [ngClass]="{ 'is-invalid': reactiveForm.controls['nome'].invalid && (reactiveForm.controls['nome'].touched || formInviato) }">Nome <span class="asterisco">*</span></p>
        <div class="campo-form">
          <input type="text" placeholder=" " id="nome"
            formControlName="nome"
            [ngClass]="{ 'is-invalid': reactiveForm.controls['nome'].invalid && (reactiveForm.controls['nome'].touched || formInviato) }"
            (blur)="onBlurAnag($event)" />
          <label for="nome" [ngClass]="{ 'is-invalid': reactiveForm.controls['nome'].invalid && (reactiveForm.controls['nome'].touched || formInviato) }">Nome</label>
        </div>
        <p class="errore-campo" *ngIf="reactiveForm.controls['nome'].invalid && (reactiveForm.controls['nome'].touched || formInviato)">
          Inserisci un nome valido
        </p>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra" [ngClass]="{ 'is-invalid': reactiveForm.controls['cognome'].invalid && (reactiveForm.controls['cognome'].touched || formInviato) }">Cognome <span class="asterisco">*</span></p>
        <div class="campo-form">
          <input type="text" placeholder=" " id="cognome"
            formControlName="cognome"
            [ngClass]="{ 'is-invalid': reactiveForm.controls['cognome'].invalid && (reactiveForm.controls['cognome'].touched || formInviato) }"
            (blur)="onBlurAnag($event)" />
          <label for="cognome" [ngClass]="{ 'is-invalid': reactiveForm.controls['cognome'].invalid && (reactiveForm.controls['cognome'].touched || formInviato) }">Cognome</label>
        </div>
        <p class="errore-campo" *ngIf="reactiveForm.controls['cognome'].invalid && (reactiveForm.controls['cognome'].touched || formInviato)">
          Inserisci un cognome valido
        </p>
      </div>
    </div>

    <!-- RIGA 2: Data di nascita + Sesso -->
    <div class="riga-doppia campo-animato">

      <div class="campo-wrapper">
        <p class="label-sopra" [ngClass]="{ 'is-invalid': (reactiveForm.controls['dataGg'].invalid || reactiveForm.controls['dataMm'].invalid || reactiveForm.controls['dataAaaa'].invalid) && (reactiveForm.controls['dataAaaa'].touched || formInviato) }">Data di nascita <span class="asterisco">*</span></p>
        <div class="data-custom" [class.data-compilata]="dataCompilata()" (click)="focusData($event)">
          <span class="data-label-piccola">gg/mm/aaaa</span>
          <input type="text" class="data-parte" id="data_gg" placeholder="gg"
            maxlength="2" inputmode="numeric"
            formControlName="dataGg"
            (input)="avanzaData($event, 'gg')" (keydown)="soloNumeri($event, 'gg')" />
          <span class="data-sep">/</span>
          <input type="text" class="data-parte" id="data_mm" placeholder="mm"
            maxlength="2" inputmode="numeric"
            formControlName="dataMm"
            (input)="avanzaData($event, 'mm')" (keydown)="soloNumeri($event, 'mm')" />
          <span class="data-sep">/</span>
          <input type="text" class="data-parte data-anno" id="data_aaaa" placeholder="aaaa"
            maxlength="4" inputmode="numeric"
            formControlName="dataAaaa"
            (keydown)="soloNumeri($event, 'aaaa')" (blur)="onBlurAnag($event)" />

          <input id="datepicker-input" tabindex="-1" style="width:0;height:0;opacity:0;position:absolute;pointer-events:none;" />

          <button type="button" class="btn-calendario" tabindex="-1" (mousedown)="$event.stopPropagation()" (click)="apriDatepicker($event)">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="#c4c4c4">
              <path d="M19 4h-1V2h-2v2H8V2H6v2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Zm0 16H5V9h14v11ZM5 7V6h14v1H5Z"/>
            </svg>
          </button>
        </div>
        <p class="errore-campo" *ngIf="(reactiveForm.controls['dataGg'].invalid || reactiveForm.controls['dataMm'].invalid || reactiveForm.controls['dataAaaa'].invalid) && (reactiveForm.controls['dataAaaa'].touched || formInviato)">
          Inserisci una data di nascita valida
        </p>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra" [ngClass]="{ 'is-invalid': reactiveForm.controls['sesso'].invalid && (reactiveForm.controls['sesso'].touched || formInviato) }">Sesso <span class="asterisco">*</span></p>
        <div class="select-custom">
          <div class="select-header" (click)="toggleSesso($event)"
            (focus)="apriSessoSoloTastiera($event)"
            (keydown)="navigaSesso($event)"
            tabindex="0"
            [class.aperto]="sessoAperto"
            [class.compilato]="sessoValore"
            [ngClass]="{ 'is-invalid': reactiveForm.controls['sesso'].invalid && (reactiveForm.controls['sesso'].touched || formInviato) }">
            <span class="select-label-piccola">Sesso</span>
            <span [class.placeholder]="!sessoValore">{{ sessoLabel() }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
              <path fill="#c4c4c4" d="M6 8L1 3h10z"/>
            </svg>
          </div>
          <div class="select-dropdown" *ngIf="sessoAperto">
            <div class="select-opzione" [class.attivo]="indiceSesso === 0" (click)="selezionaSesso('M')">Maschio</div>
            <div class="select-opzione" [class.attivo]="indiceSesso === 1" (click)="selezionaSesso('F')">Femmina</div>
            <div class="select-opzione" [class.attivo]="indiceSesso === 2" (click)="selezionaSesso('NS')">Non specificato</div>
          </div>
        </div>
        <p class="errore-campo" *ngIf="reactiveForm.controls['sesso'].invalid && (reactiveForm.controls['sesso'].touched || formInviato)">
          Seleziona il sesso
        </p>
      </div>

    </div>

    <!-- RIGA 3: Paese + Comune di nascita -->
    <div class="riga-doppia campo-animato">

      <div class="campo-wrapper">
        <p class="label-sopra" [ngClass]="{ 'is-invalid': reactiveForm.controls['paese'].invalid && (reactiveForm.controls['paese'].touched || formInviato) }">Paese di nascita <span class="asterisco">*</span></p>
        <div class="select-custom">
          <div class="select-header" (click)="togglePaese($event)"
            [class.aperto]="paeseAperto"
            [class.compilato]="paeseValore"
            [ngClass]="{ 'is-invalid': reactiveForm.controls['paese'].invalid && (reactiveForm.controls['paese'].touched || formInviato) }">
            <span class="select-label-piccola">Paese</span>
            <input class="select-input-testo paese-input" type="text" placeholder="Seleziona paese"

              [value]="paeseAperto ? filtroNazioni : (paeseValore ? paeseLabel() : '')"
              (click)="togglePaese($event)"
              (input)="onInputPaese($event)"
              (keydown)="navigaPaese($event)" />
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
              <path fill="#c4c4c4" d="M6 8L1 3h10z"/>
            </svg>
          </div>
          <div class="select-dropdown" *ngIf="paeseAperto">
            <div class="select-opzione" *ngFor="let n of nazioniFiltrate; let i = index"
              [class.attivo]="i === indiceNazione"
              (click)="selezionaPaese(n.iso)">
              {{ cambioLinguaService.leggiCodiceLingua() === 'it' ? n.nazione_it : n.nazione_en }}
            </div>
          </div>
        </div>
        <p class="errore-campo" *ngIf="reactiveForm.controls['paese'].invalid && (reactiveForm.controls['paese'].touched || formInviato)">
          Seleziona il paese di nascita
        </p>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra" [ngClass]="{ 'is-invalid': (isItalia ? reactiveForm.controls['comune'].invalid : reactiveForm.controls['citta'].invalid) && ((isItalia ? reactiveForm.controls['comune'].touched : reactiveForm.controls['citta'].touched) || formInviato) }">
  {{ isItalia ? 'Comune di nascita' : 'Città di nascita' }} <span class="asterisco">*</span>
</p>

        <!-- ITALIA: select con ricerca -->
        <div class="select-custom" *ngIf="isItalia">
          <div class="select-header" (click)="toggleComune($event)"
            [class.aperto]="comuneAperto"
            [class.compilato]="comuneValore"
            [ngClass]="{ 'is-invalid': reactiveForm.controls['comune'].invalid && (reactiveForm.controls['comune'].touched || formInviato) }">
            <span class="select-label-piccola">Comune</span>
            <input class="select-input-testo comune-input" type="text" placeholder="Cerca comune italiano..."

              [value]="comuneAperto ? filtroComuni : (comuneValore ? comuneLabel() : '')"
              (click)="toggleComune($event)"
              (input)="onInputComune($event)"
              (keydown)="navigaComune($event)" />
          </div>
          <div class="select-dropdown" *ngIf="comuneAperto">
            <div class="select-opzione" *ngFor="let c of comuniFiltrati; let i = index"
              [class.attivo]="i === indiceComune"
              (click)="selezionaComune(c.comune)">
              {{ c.comune }}
            </div>
          </div>
        </div>
        <p class="errore-campo" *ngIf="isItalia && reactiveForm.controls['comune'].invalid && (reactiveForm.controls['comune'].touched || formInviato)">
          Seleziona il comune di nascita
        </p>

        <!-- ESTERO: testo libero -->
        <div class="campo-form" *ngIf="!isItalia">
         <input type="text" placeholder=" " id="citta_nascita"

  formControlName="citta"
            [ngClass]="{ 'is-invalid': reactiveForm.controls['citta'].invalid && (reactiveForm.controls['citta'].touched || formInviato) }"
            (input)="comuneValore = $any($event.target).value" />
          <label for="citta_nascita" [ngClass]="{ 'is-invalid': reactiveForm.controls['citta'].invalid && (reactiveForm.controls['citta'].touched || formInviato) }">Inserisci città</label>
        </div>
        <p class="errore-campo" *ngIf="!isItalia && reactiveForm.controls['citta'].invalid && (reactiveForm.controls['citta'].touched || formInviato)">
          Inserisci una città valida
        </p>

      </div>

    </div>

    <!-- Codice Fiscale -->
    <div class="campo-wrapper campo-centrato campo-animato">
     <p class="label-sopra" [ngClass]="{ 'is-invalid': reactiveForm.controls['codiceFiscale'].invalid && (reactiveForm.controls['codiceFiscale'].touched || formInviato) }">
  Codice Fiscale
  <span class="asterisco" *ngIf="isItalia">*</span>
  <span class="opzionale" *ngIf="!isItalia">(opzionale)</span>
</p>
      <div class="campo-form">
        <input type="text" placeholder=" " id="codice_fiscale" maxlength="16"

          formControlName="codiceFiscale"
          [class.cf-flash]="cfFlash"
          [ngClass]="{ 'is-invalid': reactiveForm.controls['codiceFiscale'].invalid && (reactiveForm.controls['codiceFiscale'].touched || formInviato) }"
          (input)="cfValore = $any($event.target).value; cfFlash = false; cfModificatoManualmente = true" />
        <label for="codice_fiscale" [ngClass]="{ 'is-invalid': reactiveForm.controls['codiceFiscale'].invalid && (reactiveForm.controls['codiceFiscale'].touched || formInviato) }">Codice Fiscale</label>
        <button *ngIf="cfValore" type="button" class="btn-clear-cf" tabindex="-1" (click)="svuotaCF()">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="#e79c50">
            <path d="M18 6L6 18M6 6l12 12" stroke="#e79c50" stroke-width="2.5" stroke-linecap="round"/>
          </svg>
        </button>
      </div>
      <p class="errore-campo" *ngIf="reactiveForm.controls['codiceFiscale'].invalid && (reactiveForm.controls['codiceFiscale'].touched || formInviato)">
        Codice fiscale non valido (16 caratteri nel formato corretto)
      </p>
    </div>

   <button class="avanti_btn campo-animato" type="submit" [disabled]="!reactiveForm.valid">
  Avanti
  <span class="step-btn">1 di 3</span>
</button>

</form>

  <!-- ═══════════════════════════════════════════════════════
       STEP 2 — Indirizzo di domicilio
  ══════════════════════════════════════════════════════════ -->
 <form class="form-registrazione" *ngIf="stepAttuale === 2"
    [formGroup]="reactiveFormStep2"
    (ngSubmit)="avanti2()"
    (keydown.enter)="$event.preventDefault()">

    <h2 class="titolo-animato">Indirizzo di <span>domicilio</span></h2>

    <!-- RIGA 1: Paese + Comune/Città -->
    <div class="riga-doppia campo-animato">

      <div class="campo-wrapper">
        <p class="label-sopra"
          [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['nazioneD'].invalid && (reactiveFormStep2.controls['nazioneD'].touched || formInviatoStep2) }">
          Paese di domicilio <span class="asterisco">*</span>
        </p>
        <div class="select-custom">
          <div class="select-header"
            (click)="togglePaeseDom($event)"
            [class.aperto]="paeseDomAperto"
            [class.compilato]="paeseDomValore"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['nazioneD'].invalid && (reactiveFormStep2.controls['nazioneD'].touched || formInviatoStep2) }">
            <span class="select-label-piccola">Paese</span>
            <input class="select-input-testo paese-dom-input" type="text"
  placeholder="Seleziona paese"

              [value]="paeseDomAperto ? filtroNazioniDom : (paeseDomValore ? paeseDomLabel() : '')"
              (click)="togglePaeseDom($event)"
              (input)="onInputPaeseDom($event)"
              (keydown)="navigaPaeseDom($event)" />
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
              <path fill="#c4c4c4" d="M6 8L1 3h10z"/>
            </svg>
          </div>
          <div class="select-dropdown" *ngIf="paeseDomAperto">
            <div class="select-opzione"
              *ngFor="let n of nazioniFiltrateDom; let i = index"
              [class.attivo]="i === indiceNazioneDom"
              (click)="selezionaPaeseDom(n.iso)">
              {{ cambioLinguaService.leggiCodiceLingua() === 'it' ? n.nazione_it : n.nazione_en }}
            </div>
          </div>
        </div>
        <p class="errore-campo" *ngIf="reactiveFormStep2.controls['nazioneD'].invalid && (reactiveFormStep2.controls['nazioneD'].touched || formInviatoStep2)">
          Seleziona il paese di domicilio
        </p>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra"
          [ngClass]="{ 'is-invalid': (isItaliaDom ? reactiveFormStep2.controls['comuneD'].invalid : reactiveFormStep2.controls['cittaD'].invalid) && ((isItaliaDom ? reactiveFormStep2.controls['comuneD'].touched : reactiveFormStep2.controls['cittaD'].touched) || formInviatoStep2) }">
          {{ isItaliaDom ? 'Comune di domicilio' : 'Città di domicilio' }} <span class="asterisco">*</span>
        </p>

        <!-- ITALIA: select con ricerca -->
        <div class="select-custom" *ngIf="isItaliaDom">
          <div class="select-header"
            (click)="toggleComuneDom($event)"
            [class.aperto]="comuneDomAperto"
            [class.compilato]="comuneDomValore"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['comuneD'].invalid && (reactiveFormStep2.controls['comuneD'].touched || formInviatoStep2) }">
            <span class="select-label-piccola">Comune</span>
           <input class="select-input-testo comune-dom-input" type="text"
  placeholder="Cerca comune italiano..."

              [value]="comuneDomAperto ? filtroComuniDom : (comuneDomValore ? comuneDomValore : '')"
              (click)="toggleComuneDom($event)"
              (input)="onInputComuneDom($event)"
              (keydown)="navigaComuneDom($event)" />
          </div>
          <div class="select-dropdown" *ngIf="comuneDomAperto">
            <div class="select-opzione"
              *ngFor="let c of comuniFiltreatiDom; let i = index"
              [class.attivo]="i === indiceComuneDom"
              (click)="selezionaComuneDom(c.comune)">
              {{ c.comune }}
            </div>
          </div>
        </div>
        <p class="errore-campo" *ngIf="isItaliaDom && reactiveFormStep2.controls['comuneD'].invalid && (reactiveFormStep2.controls['comuneD'].touched || formInviatoStep2)">
          Seleziona il comune di domicilio
        </p>

        <!-- ESTERO: testo libero -->
        <div class="campo-form" *ngIf="!isItaliaDom">
          <input type="text" placeholder=" " id="citta_dom"

            formControlName="cittaD"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['cittaD'].invalid && (reactiveFormStep2.controls['cittaD'].touched || formInviatoStep2) }" />
          <label for="citta_dom"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['cittaD'].invalid && (reactiveFormStep2.controls['cittaD'].touched || formInviatoStep2) }">
            Inserisci città
          </label>
        </div>
        <p class="errore-campo" *ngIf="!isItaliaDom && reactiveFormStep2.controls['cittaD'].invalid && (reactiveFormStep2.controls['cittaD'].touched || formInviatoStep2)">
          Inserisci una città valida
        </p>
      </div>

    </div>
<!-- RIGA 2: Via + Civico + Provincia + CAP -->
    <div class="riga-quadrupla campo-animato">

      <div class="campo-wrapper">
        <p class="label-sopra">Via / Piazza <span class="opzionale">(opzionale)</span></p>
        <div class="campo-form">
         <input type="text" placeholder=" " id="via_dom"

            formControlName="via"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['via'].invalid && reactiveFormStep2.controls['via'].touched }" />
          <label for="via_dom"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['via'].invalid && reactiveFormStep2.controls['via'].touched }">
            Via, Piazza, Corso...
          </label>
        </div>
        <p class="errore-campo" *ngIf="reactiveFormStep2.controls['via'].invalid && reactiveFormStep2.controls['via'].touched">
          Minimo 3 caratteri, solo lettere, numeri e punteggiatura comune
        </p>
      </div>

      <div class="campo-wrapper">
        <p class="label-sopra">N° Civico <span class="opzionale">(opzionale)</span></p>
        <div class="campo-form">
          <input type="text" placeholder=" " id="civico_dom"

            formControlName="civico"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['civico'].invalid && reactiveFormStep2.controls['civico'].touched }" />
          <label for="civico_dom"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['civico'].invalid && reactiveFormStep2.controls['civico'].touched }">
            Numero
          </label>
        </div>
        <p class="errore-campo" *ngIf="reactiveFormStep2.controls['civico'].invalid && reactiveFormStep2.controls['civico'].touched">
          Deve iniziare con un numero (es. 5, 12A, 3/B)
        </p>
      </div>

      <ng-container *ngIf="isItaliaDom">

        <div class="campo-wrapper">
          <p class="label-sopra"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['provinciaD'].invalid && (reactiveFormStep2.controls['provinciaD'].touched || formInviatoStep2) }">
            Provincia <span class="asterisco">*</span>
          </p>
          <div class="campo-form">
            <input type="text" placeholder=" " id="provincia_dom"
              maxlength="2"

              formControlName="provinciaD"
              [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['provinciaD'].invalid && (reactiveFormStep2.controls['provinciaD'].touched || formInviatoStep2) }"
              (input)="onInputProvincia($event)" />
            <label for="provincia_dom"
              [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['provinciaD'].invalid && (reactiveFormStep2.controls['provinciaD'].touched || formInviatoStep2) }">
              Sigla
            </label>
          </div>
          <p class="errore-campo" *ngIf="reactiveFormStep2.controls['provinciaD'].invalid && (reactiveFormStep2.controls['provinciaD'].touched || formInviatoStep2)">
            Inserisci la sigla (2 lettere)
          </p>
        </div>

        <div class="campo-wrapper">
          <p class="label-sopra"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['cap'].invalid && (reactiveFormStep2.controls['cap'].touched || formInviatoStep2) }">
            CAP <span class="asterisco">*</span>
          </p>

          <!-- CAP singolo: input testo (auto-compilato) -->
          <div class="campo-form" *ngIf="!capIsMulti">
            <input type="text" placeholder=" " id="cap_dom"
              maxlength="5"
              inputmode="numeric"

              formControlName="cap"
              [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['cap'].invalid && (reactiveFormStep2.controls['cap'].touched || formInviatoStep2) }"
              (input)="capValore = $any($event.target).value" />
            <label for="cap_dom"
              [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['cap'].invalid && (reactiveFormStep2.controls['cap'].touched || formInviatoStep2) }">
              CAP
            </label>
          </div>

          <!-- CAP multiplo: select custom con ricerca -->
          <div class="select-custom select-cap-dom" *ngIf="capIsMulti">
            <div class="select-header"
              (click)="toggleCapDom($event)"
              [class.aperto]="capDomAperto"
              [class.compilato]="capValore"
              [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['cap'].invalid && (reactiveFormStep2.controls['cap'].touched || formInviatoStep2) }">
              <span class="select-label-piccola">CAP</span>
              <input class="select-input-testo cap-dom-input" type="text"
                placeholder="Seleziona CAP"

                inputmode="numeric"
                [value]="capDomAperto ? filtroCapDom : (capValore ? capValore : '')"
                (click)="toggleCapDom($event)"
                (input)="onInputCapDom($event)"
                (keydown)="navigaCapDom($event)" />
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                <path fill="#c4c4c4" d="M6 8L1 3h10z"/>
              </svg>
            </div>
            <div class="select-dropdown" *ngIf="capDomAperto">
              <div class="select-opzione"
                *ngFor="let c of capFiltrate; let i = index"
                [class.attivo]="i === indiceCapDom"
                (click)="selezionaCapDom(c)">
                {{ c }}
              </div>
            </div>
          </div>

          <p class="errore-campo" *ngIf="reactiveFormStep2.controls['cap'].invalid && (reactiveFormStep2.controls['cap'].touched || formInviatoStep2)">
            CAP non valido (5 cifre)
          </p>
        </div>

      </ng-container>

    </div>

    <!-- RIGA 3: Dettagli aggiuntivi (centrato) -->
    <div class="campo-wrapper campo-centrato campo-animato">
      <p class="label-sopra">Dettagli aggiuntivi <span class="opzionale">(opzionale)</span></p>
      <div class="campo-form">
       <input type="text" placeholder=" " id="dettagli_dom"

            formControlName="dettagli"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['dettagli'].invalid && reactiveFormStep2.controls['dettagli'].touched }" />
          <label for="dettagli_dom"
            [ngClass]="{ 'is-invalid': reactiveFormStep2.controls['dettagli'].invalid && reactiveFormStep2.controls['dettagli'].touched }">
            Scala, interno, indicazioni...
          </label>
        </div>
        <p class="errore-campo" *ngIf="reactiveFormStep2.controls['dettagli'].invalid && reactiveFormStep2.controls['dettagli'].touched">
          Minimo 3 caratteri
        </p>
      </div>

    <button class="avanti_btn campo-animato" type="submit" [disabled]="!reactiveFormStep2.valid">
      Avanti
      <span class="step-btn">2 di 3</span>
    </button>

  </form>

</section>

<app-footer></app-footer>
