<!-- html della pagina contatti -->

<!-- saturno è protagonista, anche se animazioni disativate, passera dala posizione nascosta a quella laterale -->
<app-saturno
  [usaAnimazioniIngresso]="false"
  [usaAnimazioniScroll]="false"
></app-saturno>

<section class="login-contenuto">
  <div class="contatti-contenuto" #contattiContenuto>
    <!-- titolo dinamico a seconda della lingua -->
    <h2>{{ "ui.h2.contatti" | translate }}</h2>
    <!-- copie html chiave valore, i valori cambiano a seconda della lingua e i dati vengono presi dal db -->
    <dl class="contact-list">
      <div class="row">
        <!-- nome -->
        <dt [innerHTML]="'ui.sviluppato.contatti' | translate"></dt>
        <dd>Gianluigi Abbracciavento</dd>
      </div>
      <!-- email -->
      <div class="row">
        <dt>Email</dt>
        <dd>
          <a href="mailto:{{ mail }}">{{ mail }}</a>
        </dd>
      </div>
      <!-- indirizzo  -->
      <div class="row">
        <dt [innerHTML]="'ui.indirizzo.contatti' | translate"></dt>
        <dd>{{ indirizzo }}</dd>
      </div>
      <!-- chiave vuota e voce che apre il form di contatti -->
      <div class="row">
        <dt></dt>
        <dd class="special_dd" (click)="apriForm()">
          {{ "ui.contatti.invia_messaggio" | translate }}
        </dd>
      </div>
      <!-- chiave vuota e voce che fa tornare indietro e chiudere i contatti -->
      <div class="row">
        <dt></dt>
        <!-- il testo cambia se sono nella pagina dei contatti da loggato o no, perche in base a dove sarò cambierà anche la destinazione di dove mi sposterò -->
        <dd class="special_dd special_dd--secondario" (click)="tornaIndietro()">
          {{
            (sonoLoggato ? "ui.torna.log.contatti" : "ui.torna.contatti")
              | translate
          }}
        </dd>
      </div>
    </dl>
  </div>

  <!-- form per inviare messagio -->
  <form
    class="contatti-form-contenuto"
    #formContenuto
    [formGroup]="messaggioForm"
    (ngSubmit)="inviaMessaggio()"
  >
    <h2>{{ "ui.contatti.form.titolo" | translate }}</h2>

    <!-- nome le scritte cambiano a seconda della lingua -->
    <div class="form-riga-doppia">
      <div class="campo-wrapper">
        <!-- titolo -->
        <p
          class="form-label"
          [ngClass]="{
            'is-invalid':
              messaggioForm.controls['nome'].invalid &&
              (messaggioForm.controls['nome'].touched || formInviatoMsg),
          }"
        >
          {{ "ui.contatti.form.nome.label" | translate }}
          <span class="asterisco">*</span>
        </p>
        <div class="campo-form">
          <input
            type="text"
            placeholder=" "
            id="msg_nome"
            formControlName="nome"
            [ngClass]="{
              'is-invalid':
                messaggioForm.controls['nome'].invalid &&
                (messaggioForm.controls['nome'].touched || formInviatoMsg),
            }"
          />
          <label for="msg_nome">{{
            "ui.contatti.form.nome.label" | translate
          }}</label>
        </div>
        <!-- messaggi errore -->
        <p
          class="form-errore"
          *ngIf="
            messaggioForm.controls['nome'].errors?.['required'] &&
            (messaggioForm.controls['nome'].touched || formInviatoMsg)
          "
        >
          {{ "ui.contatti.form.nome.error.required" | translate }}
        </p>
        <p
          class="form-errore"
          *ngIf="
            messaggioForm.controls['nome'].errors?.['minlength'] &&
            (messaggioForm.controls['nome'].touched || formInviatoMsg)
          "
        >
          {{ "ui.registrazione.nome.error.minlength" | translate }}
        </p>
        <p
          class="form-errore"
          *ngIf="
            messaggioForm.controls['nome'].errors?.['pattern'] &&
            (messaggioForm.controls['nome'].touched || formInviatoMsg)
          "
        >
          {{ "ui.registrazione.nome.error.pattern" | translate }}
        </p>
      </div>
      <!-- cognome le scritte cambiano a seconda della lingua -->

      <div class="campo-wrapper">
        <!-- titolo -->
        <p
          class="form-label"
          [ngClass]="{
            'is-invalid':
              messaggioForm.controls['cognome'].invalid &&
              (messaggioForm.controls['cognome'].touched || formInviatoMsg),
          }"
        >
          {{ "ui.contatti.form.cognome.label" | translate }}
          <span class="asterisco">*</span>
        </p>
        <div class="campo-form">
          <input
            type="text"
            placeholder=" "
            id="msg_cognome"
            formControlName="cognome"
            [ngClass]="{
              'is-invalid':
                messaggioForm.controls['cognome'].invalid &&
                (messaggioForm.controls['cognome'].touched || formInviatoMsg),
            }"
          />
          <label for="msg_cognome">{{
            "ui.contatti.form.cognome.label" | translate
          }}</label>
        </div>
        <!-- messaggi di errore -->
        <p
          class="form-errore"
          *ngIf="
            messaggioForm.controls['cognome'].errors?.['required'] &&
            (messaggioForm.controls['cognome'].touched || formInviatoMsg)
          "
        >
          {{ "ui.contatti.form.cognome.error.required" | translate }}
        </p>
        <p
          class="form-errore"
          *ngIf="
            messaggioForm.controls['cognome'].errors?.['minlength'] &&
            (messaggioForm.controls['cognome'].touched || formInviatoMsg)
          "
        >
          {{ "ui.registrazione.cognome.error.minlength" | translate }}
        </p>
        <p
          class="form-errore"
          *ngIf="
            messaggioForm.controls['cognome'].errors?.['pattern'] &&
            (messaggioForm.controls['cognome'].touched || formInviatoMsg)
          "
        >
          {{ "ui.registrazione.cognome.error.pattern" | translate }}
        </p>
      </div>
    </div>

    <!-- email -->
    <div class="campo-wrapper">
      <!-- titolo -->
      <p
        class="form-label"
        [ngClass]="{
          'is-invalid':
            messaggioForm.controls['email'].invalid &&
            (messaggioForm.controls['email'].touched || formInviatoMsg),
        }"
      >
        {{ "ui.contatti.form.email.label" | translate }}
        <span class="asterisco">*</span>
      </p>
      <div class="campo-form">
        <input
          type="email"
          placeholder=" "
          id="msg_email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              messaggioForm.controls['email'].invalid &&
              (messaggioForm.controls['email'].touched || formInviatoMsg),
          }"
        />
        <label for="msg_email">{{
          "ui.contatti.form.email.label" | translate
        }}</label>
      </div>
      <!-- messaggi errore -->
      <p
        class="form-errore"
        *ngIf="
          messaggioForm.controls['email'].errors?.['required'] &&
          (messaggioForm.controls['email'].touched || formInviatoMsg)
        "
      >
        {{ "ui.contatti.form.email.error.required" | translate }}
      </p>
      <p
        class="form-errore"
        *ngIf="
          messaggioForm.controls['email'].errors?.['email'] &&
          (messaggioForm.controls['email'].touched || formInviatoMsg)
        "
      >
        {{ "ui.contatti.form.email.error.email" | translate }}
      </p>
    </div>

    <!-- tipologia di contenuto-->
    <div class="campo-wrapper">
      <!-- titolo -->
      <p
        class="form-label"
        [ngClass]="{
          'is-invalid':
            messaggioForm.controls['tipologia'].invalid &&
            (messaggioForm.controls['tipologia'].touched || formInviatoMsg),
        }"
      >
        {{ "ui.contatti.form.tipologia.label" | translate }}
        <span class="asterisco">*</span>
      </p>
      <!-- lista label diverse per lingua, che indicano la tipologia della natura del messagio -->
      <div class="tipologia-wrapper">
        <label
          class="tipologia-pill"
          [class.attiva]="
            messaggioForm.controls['tipologia'].value === 'assistenza'
          "
        >
          <input type="radio" formControlName="tipologia" value="assistenza" />
          {{ "ui.contatti.form.tipologia.assistenza" | translate }}
        </label>
        <label
          class="tipologia-pill"
          [class.attiva]="
            messaggioForm.controls['tipologia'].value === 'collaborazioni'
          "
        >
          <input
            type="radio"
            formControlName="tipologia"
            value="collaborazioni"
          />
          {{ "ui.contatti.form.tipologia.collaborazioni" | translate }}
        </label>
        <label
          class="tipologia-pill"
          [class.attiva]="
            messaggioForm.controls['tipologia'].value === 'informazioni'
          "
        >
          <input
            type="radio"
            formControlName="tipologia"
            value="informazioni"
          />
          {{ "ui.contatti.form.tipologia.informazioni" | translate }}
        </label>
      </div>
      <!-- messaggi errore -->
      <p
        class="form-errore"
        *ngIf="
          messaggioForm.controls['tipologia'].errors?.['required'] &&
          (messaggioForm.controls['tipologia'].touched || formInviatoMsg)
        "
      >
        {{ "ui.contatti.form.tipologia.error.required" | translate }}
      </p>
    </div>

    <!-- campo del messagio -->
    <div class="campo-wrapper">
      <!-- titolo -->
      <p
        class="form-label"
        [ngClass]="{
          'is-invalid':
            messaggioForm.controls['messaggio'].invalid &&
            (messaggioForm.controls['messaggio'].touched || formInviatoMsg),
        }"
      >
        {{ "ui.contatti.form.messaggio.label" | translate }}
        <span class="asterisco">*</span>
      </p>
      <!-- input per il messaggio -->
      <textarea
        id="msg_messaggio"
        formControlName="messaggio"
        [placeholder]="'ui.contatti.form.messaggio.placeholder' | translate"
        [ngClass]="{
          'is-invalid':
            messaggioForm.controls['messaggio'].invalid &&
            (messaggioForm.controls['messaggio'].touched || formInviatoMsg),
        }"
      >
      </textarea>
      <!-- errori -->
      <p
        class="form-errore"
        *ngIf="
          messaggioForm.controls['messaggio'].errors?.['required'] &&
          (messaggioForm.controls['messaggio'].touched || formInviatoMsg)
        "
      >
        {{ "ui.contatti.form.messaggio.error.required" | translate }}
      </p>
      <p
        class="form-errore"
        *ngIf="
          messaggioForm.controls['messaggio'].errors?.['minlength'] &&
          (messaggioForm.controls['messaggio'].touched || formInviatoMsg)
        "
      >
        {{ "ui.contatti.form.messaggio.error.minlength" | translate }}
      </p>
      <p
        class="form-errore"
        *ngIf="
          messaggioForm.controls['messaggio'].errors?.['maxlength'] &&
          (messaggioForm.controls['messaggio'].touched || formInviatoMsg)
        "
      >
        {{ "ui.contatti.form.messaggio.error.maxlength" | translate }}
      </p>
    </div>

    <div class="form-bottoni">
      <!-- bottone che fa tornare indietro -->
      <button type="button" class="indietro-form-btn" (click)="chiudiForm()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="#c4c4c4"
        >
          <path d="M15 18l-6-6 6-6" />
        </svg>
        {{ "ui.contatti.form.indietro" | translate }}
      </button>
      <!-- bottone NON FUNZIONANTE PER ORA che fa inviare il messaggio -->
      <button
        type="button"
        class="invia-btn"
        [disabled]="messaggioForm.invalid || invioInCorso"
        (click)="inviaMessaggio()"
      >
        <ng-container *ngIf="!invioInCorso">
          {{ "ui.contatti.form.invia" | translate }}
        </ng-container>
        <app-spinner *ngIf="invioInCorso"></app-spinner>
      </button>
    </div>
  </form>
  <!-- footer -->
  <app-footer></app-footer>
</section>
