<app-saturno [usaAnimazioniIngresso]="false" [usaAnimazioniScroll]="false"></app-saturno>

<section class="login-contenuto" #contattiContenuto>
  <div class="contatti-contenuto">
    <h2>Contatti</h2>
    <dl class="contact-list">
      <div class="row">
        <dt>Sviluppato da</dt>
        <dd>Gianluigi Abbracciavento</dd>
      </div>
      <div class="row">
        <dt>Email</dt>
        <dd><a href="mailto:{{ mail }}">{{ mail }}</a></dd>
      </div>
      <div class="row">
        <dt>Indirizzo</dt>
        <dd>{{ indirizzo }}</dd>
      </div>
    </dl>
  </div>
  <app-footer></app-footer>
</section>
