
.nf-bg {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.nf-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.192);
}

.nf-center {
  margin-top: -70px;
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nf-mask {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: width 1400ms ease;
transition-delay: 0ms;

}
.nf-mask.show {
  transition-delay: 300ms;
}

.nf-mask.closing {
  transition-delay: 0ms !important;
}
.nf-mask.show { width: 100%; }
.nf-mask { text-align: center; }


.nf-num {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
  line-height: 1;
  user-select: none;
  font-size: 280px;
  color: #fc7228d6;
  letter-spacing: 0.05em;
}

.nf-num .d {
  display: inline-block;
}



p{
  color: #f5a87e;
text-decoration: underline;
  margin-top: 20px;
  font-size: 35px;
  padding-bottom: 10px;
  letter-spacing: 0.3em;

}
.bigbig{
  font-size: 50px;

}

app-footer{
  position: absolute;
  left: 0;
  bottom: 0;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
height: 100%;
width: 100%;
cursor: pointer;
}
