<div class="video-wrapper">
  <div class="player-video-wrapper">
<div class="vjs-cerchio-centrale">
  <span class="vjs-cerchio-icona">{{ playerInPausa ? '▶' : '⏸' }}</span>
</div>



  <app-barra-avanzamento
    #barraAd
  *ngIf="adInCorso"
  [visibile]="true"
  [modalitaAd]="true"
  [percentualeAvanzamento]="barraAvanzamentoService.percentualeAvanzamento"
  [percentualeBuffer]="0"
  [durataTotaleMs]="barraAvanzamentoService.durataTotaleMs"
  [posizioneCorrenteMs]="barraAvanzamentoService.posizioneCorrenteMs"
  [tempoCorrenteTesto]="barraAvanzamentoService.tempoCorrenteTesto"
  [durataTotaleTesto]="barraAvanzamentoService.durataTotaleTesto"
  [ariaLabel]="'Avanzamento pubblicita'"
></app-barra-avanzamento>
  <video-js
  #target
    id="vid1"
    class="vjs-default-skin vjs-orange"
    controls
    preload="auto"
    playsinline
    data-setup='{}'
  >
  </video-js>
</div>
