<!-- saturno esiste anche in scheda, ma senza animazioni (stand-by) -->
<app-saturno
  [usaAnimazioniIngresso]="false"
  [usaAnimazioniScroll]="false"
></app-saturno>
<img
  *ngIf="urlSfondoScheda"
  [src]="urlSfondoScheda"
  alt=""
  class="sfondo_scheda"
  [class.anim]="startAnim"
/>
<span class="sfumatura"></span>

<div class="scheda">
  <div class="titolo-scheda" *ngIf="imgTitoloScheda">
    <img
      [src]="imgTitoloScheda"
      alt=""
      class="titolo-scheda__img"
      [class.anim]="startAnimTitolo"
    />
  </div>
  <div class="bottoni_film">
    <button type="button" class="riprendi">
      Riprendi Visione
      <span class="icon play" aria-hidden="true">&#9658;</span>
    </button>
    <button type="button" class="riproduci">
      Riproduci
      <span class="icon play" aria-hidden="true">&#9658;</span>
    </button>

    <button type="button" class="riproduci">
      Trailer
      <span class="icon play" aria-hidden="true">&#9658;</span>
    </button>

    <app-bottone-preferiti> </app-bottone-preferiti>
  </div>
  <div class="contenuto_info">
    <p class="descrizione" [class.anim]="startAnimDescrizione">
      {{ descrizioneTestuale || "..." }}
    </p>
  </div>

  <div class="tabella">

  <p *ngIf="anno">
    <span class="cubo">Anno:</span>
    {{ anno }}
  </p>

  <!-- Solo film -->
  <p *ngIf="tipoContenuto === 'film' && durata">
    <span class="cubo">Durata:</span>
    {{ durata }} min
  </p>

  <p *ngIf="regista">
    <span class="cubo">Regista:</span>
    {{ regista }}
  </p>

  <!-- Solo serie -->
  <p *ngIf="tipoContenuto === 'serie' && episodiTotali">
    <span class="cubo">Episodi Totali:</span>
    {{ episodiTotali }}
  </p>

</div>
  <p class="contenuto">{{ descrizione || "..." }}</p>
  <app-footer></app-footer>
</div>
