<!-- saturno esiste anche in scheda, ma senza animazioni (stand-by) -->
<app-saturno [usaAnimazioniIngresso]="false" [usaAnimazioniScroll]="false"></app-saturno>

<img
  *ngIf="urlSfondoScheda"
  [src]="urlSfondoScheda"
  alt=""
  class="sfondo_scheda"
  [class.anim]="startAnim"
/>
<span class="sfumatura"></span>

<div class="titolo-scheda" *ngIf="imgTitoloScheda">
  <img
    [src]="imgTitoloScheda"
    alt=""
    class="titolo-scheda__img"
    [class.anim]="startAnimTitolo"
  />
</div>

<p class="contenuto">{{ descrizione || '...' }}</p>
<app-footer></app-footer>
