<app-saturno
  [usaAnimazioniIngresso]="false"
  [usaAnimazioniScroll]="false"
></app-saturno>

<span class="sfocatura"></span>
<section class="profilo-contenuto">

  <h2 class="profilo-titolo">{{ 'ui.profilo.titolo' | translate }}</h2>

  <div class="profilo-box">
  <form class="form-profilo" [formGroup]="formEmail" (ngSubmit)="inviaEmail()" (keydown.enter)="$event.preventDefault()" autocomplete="off">

    <div class="riga-email campo-animato">

      <div class="campo-wrapper">
        <p
          class="label-sopra"
          [ngClass]="{ 'is-invalid': formEmail.controls['email'].invalid && (formEmail.controls['email'].touched || formInviato) }"
          [innerHTML]="'ui.profilo.email.titolo' | translate"
        ></p>
        <div class="campo-form">
          <input
            type="text"
            placeholder=" "
            id="profilo_email"
            name="profilo_email_unico"
            formControlName="email"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            [ngClass]="{ 'is-invalid': formEmail.controls['email'].invalid && (formEmail.controls['email'].touched || formInviato) }"
          />
          <label
            for="profilo_email"
            [ngClass]="{ 'is-invalid': formEmail.controls['email'].invalid && (formEmail.controls['email'].touched || formInviato) }"
          >
            {{ 'ui.registrazione.step3.email_secondaria.input_label' | translate }}
          </label>
        </div>
        <div class="errori-stack">
          <p class="errore-campo" *ngIf="(formEmail.controls['email'].touched || formInviato) && formEmail.controls['email'].errors?.['required']">
            {{ 'ui.contatti.form.email.error.required' | translate }}
          </p>
          <p class="errore-campo" *ngIf="(formEmail.controls['email'].touched || formInviato) && formEmail.controls['email'].errors?.['email']">
            {{ 'ui.contatti.form.email.error.email' | translate }}
          </p>
          <p class="errore-campo" *ngIf="(formEmail.controls['email'].touched || formInviato) && formEmail.controls['email'].errors?.['maxlength']">
            {{ 'ui.registrazione.email_secondaria.error.maxlength' | translate }}
          </p>
        </div>
      </div>

      <button
        class="invia_btn"
        type="submit"
        [disabled]="!formEmail.valid"
      >
        {{ 'ui.profilo.email.invia' | translate }}
      </button>
    </div>

  </form>
  </div>

  <button type="button" class="profilo-indietro-btn" (click)="tornaIndietro()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="#c4c4c4"
    >
      <path d="M15 18l-6-6 6-6" />
    </svg>
    {{ 'ui.torna.log.contatti' | translate }}
  </button>
</section>
