:host {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 20; // sopra contenuti e footer
  pointer-events: none; // si attiva solo quando overlay è visibile (vedi .overlay)
}

.overlay {
  pointer-events: none;

  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}



.pagina {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.contenuto {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 63%;
  top: 22%;
}

h2 {
  text-shadow: 1px 1px 2px #c7ae80;
    color: rgb(199, 174, 128);

  font-size: 40px;
  margin-bottom: 45px;
  font-family: "Quantico", serif;
  font-weight: bolder;
}

dt {
  text-shadow: 1px 1px 2px #c7ae80;
  color: white;
  font-family: "Quantico", serif;
  font-size: 24px;
  font-weight: bolder;
}

dd {
  pointer-events: auto;
  font-size: 18px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: rgb(199, 174, 128);
}

.row {
  margin-bottom: 17px;
}

a {
  color: rgb(199, 174, 128);
}

.contact-list {
  width: fit-content;
}

.special_dd{
  text-decoration:underline;
  font-size: 22px;
  margin-top: 15px;
  color: rgb(165, 200, 246);
    font-family: "Quantico", serif;

 cursor: pointer;
}
