<section class="overlay" *ngIf="visibile">


  <div class="pagina">
    <div class="contenuto" #datiPersonaliContenuto>
      <h2>{{ 'ui.h2.contatti' | translate }}</h2>

      <dl class="contact-list">
        <div class="row">
          <dt [innerHTML]="'ui.sviluppato.contatti' | translate"></dt>
          <dd>Gianluigi Abbracciavento</dd>
        </div>

        <div class="row">
          <dt>Email</dt>
          <dd>
            <a [href]="'mailto:' + mail">{{ mail }}</a>
          </dd>
        </div>

        <div class="row">
          <dt [innerHTML]="'ui.indirizzo.contatti' | translate"></dt>
          <dd>{{ indirizzo }}</dd>

        </div>
        <div class="row">
  <dt> </dt>
  <dd class="special_dd" (click)="chiudi()">
    {{ 'ui.torna.log.contatti' | translate }}
  </dd>
</div>
      </dl>
    </div>

    </div>
</section>
