
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sciencecodex-primary: mat.define-palette(mat.$indigo-palette);
$sciencecodex-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sciencecodex-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sciencecodex-theme: mat.define-light-theme((
  color: (
    primary: $sciencecodex-primary,
    accent: $sciencecodex-accent,
    warn: $sciencecodex-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sciencecodex-theme);

@font-face {
  font-family: "Cinzel";
  src: url("assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; // range dei pesi
  font-style: normal;
}

@font-face {
  font-family: "Quantico";
  src: url("assets/fonts/Quantico/Quantico-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quantico";
  src: url("assets/fonts/Quantico/Quantico-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quantico";
  src: url("assets/fonts/Quantico/Quantico-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Quantico";
  src: url("assets/fonts/Quantico/Quantico-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #e5ae09 transparent;
}
body,
html {
  overflow: hidden;
  height: 100dvh;
  background-color: #04011a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

html.scrollable,
body.scrollable {
    overflow: visible;
  height: auto;

}


app-main {
  position: fixed;

  z-index: 5;
  height: 100vh;
  width: 100vw;
}

.main-scroll {
  display: block;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
strong {
  color: rgb(199, 174, 128);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-datepicker-content {
    font-family: "Quantico", serif !important;

  background: #000000ed !important;
  color: aliceblue !important;
        box-shadow: 0 0 4px orange !important;

  border-radius: 10px !important;
}

.mat-calendar-body-selected {
  background-color: #e79c50 !important;
  color: #0a0f1e !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: #e79c50 !important;
}

.mat-calendar-body-cell-content {
  color: aliceblue !important;
}

.mat-calendar-body-cell:hover .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: #1a2540 !important;
}

.mat-calendar-arrow {
  fill: aliceblue !important;
}

.mat-calendar-next-button,
.mat-calendar-previous-button {
  color: aliceblue !important;
}

.mat-calendar-table-header,
.mat-calendar-table-header-divider::after {
   color: aliceblue !important;

}

.mat-calendar-period-button {
  color: aliceblue !important;
}
.mat-calendar-body-label{
 color: aliceblue !important;

}
.ng-star-inserted{
 color: aliceblue !important;
    font-family: "Quantico", serif !important;

}

#mat-datepicker-0 > mat-calendar-header > div > div > button.mat-calendar-period-button.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base > span.mdc-button__label > span{
    font-family: "Quantico", serif !important;

}

